*{
  box-sizing: border box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #E9ECEF;
  position: fixed;
  width: 100vw;
  height: 12vh;
  z-index:999;
}

.topnav a {
  display: flex;
  float: left;
  color: #495057;
  font-weight: 400;
  text-align: center;
  line-height: 8vh;
  padding: 2vh 1.6vw;
  text-decoration: none;
  font-size: 1.1vw;
  font-family: 'Barlow', sans-serif;
}

.topnav a:hover {
  background-color: #DEE2E6;
  color: #212529;
}

.topnav a.active {
  display: flex;
  color: #F8F9FA;
  font-family: 'Noto Serif Display', serif;
  font-size: 3vw;
  font-weight: 500;
  color: #212529;
}

.topnav-right {
  display: flex;
  float: right;
  font-size: 1.1vw;
}

.pic1{
  display: flex;
  flex-direction: column;
  background-image: url(pic1.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slogan1{
  align-self: flex-end;
  color: #343A40;
  font-family: 'Noto Serif Display', serif;
  font-size: 5.7vw;
  font-weight: 300;
  line-height: 0px;
  padding-right: 3vw;
}

.sec2{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color:#F8F9FA;
  width: 100%;
  gap:0vw 4vw;

}

.title{
  padding: 5vw 25vw;
  background-color: #F8F9FA;
  font-family: 'Noto Serif Display', serif;
  font-size: 2.5vw;
  color: #212529;
}

.intro1{
  width: 50vw;
  font-size: 2vw;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  padding-left: 3vw;
}


.video1{
  width:43vw;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(95%);
}

iframe{
  width: 40vw;
  height: 40vh;
}

p:nth-child(2){
  width: 50vw;
  font-size: 2vw;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  }

.pic2{
  display: flex;
  flex-direction: column;
  background-image: url(pic2.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.slogan2{
  align-self: flex-end;
  color: #F8F9FA;
  font-family: 'Noto Serif Display', serif;
  font-size: 2.5vw;
  font-weight: 300;
  line-height: 0px;
  padding-right: 3vw;
  }

.lfp2{
  border: 0.15vw;
  border-style: double;
  border-color: #F8F9FA;
  align-self: flex-end;
  margin: 2.5vh 3.2vw;
  padding: 0vh 1vw;
  color: #F8F9FA;
  font-family: 'Barlow', sans-serif;
  font-size: 1vw;
  font-weight: 400;
  line-height: 0px;
  }

.lfp2:hover {
  background-color: #F8F9FA;
  }

.lfp2 a {
  color: #F8F9FA;
  background-color: transparent;
  text-decoration: none;
}

.lfp2 a :hover {
  color: #212529;
}

.sec3{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F8F9FA;
  width: 100%;
  gap:0vw 4vw;
}

.images{
  display:flex;
  background-color:#DEE2E6;
  width:100vw;
  flex-wrap: wrap;
  padding: 3vw;
  justify-content: center;
  gap:4vw 4vw;
}

.hisimgs{
  width: 20vw;
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #343A40;
  overflow: hidden;
  opacity:0%;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
  opacity:70%;
}

.text {
  font-family: 'Barlow', sans-serif;
  text-align: center;
  color: white;
  font-size: 0.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sec4{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F8F9FA;
  width: 100%;
  gap:0vw 4vw;
}

.lists{
  display: flex;
  justify-content: center;
}

.decimgs{
  width:25vw;
}

h2{
  text-align: center;
  font-family: 'Noto Serif Display', serif;
  font-weight: 300;
  font-size: 2vw;
  color: #212529;
}

.decintro{
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  padding: 0vw 3vw;
  text-align: justify;
  color: #212529;
}

.pic3{
  display: flex;
  flex-direction: column-reverse;
  background-image: url(pic3.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.slogan3{
  align-self: flex-end;
  color: #F8F9FA;
  font-family: 'Noto Serif Display', serif;
  font-size: 2.5vw;
  font-weight: 400;
  line-height: 0px;
  padding-right: 3vw;
  }

.sec5{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F8F9FA;
  width: 100%;
  gap:2vw 6.5vw;
  }

.stats{
  display: flex;
  flex-direction: column;
  width:14vw;
  border: 0.3vw;
  border-style: double;
  padding: 0vw 2vw;
  border-color: #6C757D;
  }

.pollutitle{
  align-self: center;
  font-family: 'Noto Serif Display', serif;
  font-size: 2.5vw;
  font-weight: 400;
  color: #212529;
  padding:1vw;
  }

.data{
  font-family: 'Barlow', sans-serif;
  font-size: 1.2vw;
  text-align: center;
  padding-bottom: 2vw;
  }

.last{
  display: flex;
  flex-direction: column;
  background-color:#F8F9FA;
  }

.lfp3{
  width:7vw;
  border: 0.25vw;
  border-style: double;
  border-color: #6C757D;
  align-self: flex-end;
  text-align: center;
  margin: 2.5vh 3vw;
  padding: 0vh 2vw;
  color: #black;
  font-family: 'Barlow', sans-serif;
  font-size: 1vw;
  font-weight: 400;
  line-height: 0px;
      }

.lfp3:hover {
  background-color: #6C757D;
  border-color: #F8F9FA;
  }

.lfp3 a {
  color: #212529;
  background-color: transparent;
  text-decoration: none;
  }

.lfp3 a :hover {
  color: #F8F9FA;
  }

.topnav2 {
  overflow: hidden;
  background-color: #FFFDF9;
  position: fixed;
  width: 100vw;
  height: 12vh;
  z-index:999;
  }

.topnav2 a {
  display: flex;
  float: left;
  color: black;
  font-weight: 400;
  text-align: center;
  line-height: 8vh;
  padding: 2vh 1.6vw;
  text-decoration: none;
  font-size: 1.1vw;
  font-family: 'Barlow', sans-serif;
      }

.topnav2 a:hover {
  background-color: #FDE2E4;
  color: black;
  }

.topnav2 a.active {
  display: flex;
  font-family: 'Noto Serif Display', serif;
  font-size: 3vw;
  font-weight: 500;
  color: #212529;
  }

.topnav2-right {
  display: flex;
  float: right;
  font-size: 1.1vw;
  }

.pic4{
  display: flex;
  flex-direction: column;
  background-image: url(pic4.png);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.topnav2-right a:hover {
  background-color: #E2ECE9;
  }

.slogan4special{
  align-self: flex-end;
  color: #809BCE;
  font-family: 'Noto Serif Display', serif;
  font-size: 4vw;
  font-weight: 400;
  line-height: 0px;
  padding-right: 3vw;
  }

.slogan4{
  align-self: flex-end;
  color: #343A40;
  font-family: 'Noto Serif Display', serif;
  font-size: 2.5vw;
  font-weight: 400;
  line-height: 1vw;
  padding-right: 3vw;
  }

.sec22{
  background-color: white;
  width: 100%;
  gap:0vw 4vw;
  }

.title2{
  display: flex;
  padding: 5vw 0vw;
  justify-content: center;
  gap: 0vw 0.5vw;
  font-family: 'Noto Serif Display', serif;
  font-size: 2.5vw;
  color: #212529;
}

.color1{
  color: #B8E0D2;
  font-size: 2.5vw;
  font-family: Helvetica inherit;
  font-weight: bold;
}

.lists2{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap:0vw 3vw;
}

.sup{
  width: 28vw;
}

.supimgs{
  width: 28vw;
}

.supintro{
  line-height: 2vw;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  text-align: justify;
  color: #343A40;
}

.lfp4{
  width:7vw;
  border: 0.1vw;
  border-style: double;
  border-color: #6C757D;
  align-self: flex-end;
  text-align: center;
  margin: 5vh 18.5vw;
  padding: 0vh 1vw;
  font-family: 'Barlow', sans-serif;
  font-size: 1vw;
  font-weight: 400;
  line-height: 0px;
      }

.lfp4:hover {
  background-color: #B8E0D2;
  border-color: #F8F9FA
  }

.lfp4 a {
  color: #6C757D;
  background-color: transparent;
  text-decoration: none;
  }

.lfp4 a :hover {
  color: #F8F9FA;
  }

.pic5{
  display: flex;
  flex-direction: column-reverse;
  background-image: url(pic5.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.slogan5{
  align-self: flex-end;
  color: #E8A598;
  font-family: 'Noto Serif Display', serif;
  font-size: 2vw;
  font-weight: 400;
  line-height: 1vw;
  padding-right: 3vw;
  }

.color2{
  color: #FFA6C1;
  font-size: 2.5vw;
  font-family: Helvetica inherit;
  font-weight: bold;
  }

.sec33{
  background-color: white;
  width: 100%;
  gap:0vw 4vw;
  }

.images2{
  display:flex;
  background-color:#FDE2E4;
  width:100vw;
  flex-wrap: wrap;
  padding: 3vw 0vw;
  justify-content:flex-end;
  gap:5vw 5vw;
  }

.diyimgs{
  width: 22vw;
  }

.container2 {
  position: relative;
  }

.overlay2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  opacity:0%;
  width: 100%;
  height: 0;
  transition: .5s ease;
  }

.container2:hover .overlay2 {
  height: 100%;
  opacity:80%;
  }

.text2 {
  font-family: 'Barlow', sans-serif;
  text-align: center;
  color: black;
  font-size: 2vw;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }

.images3{
  display:flex;
  background-color:#DFE7FD;
  width:100vw;
  flex-wrap: wrap;
  padding: 3vw 0vw;
  justify-content:flex-end;
  gap:5vw 5vw;
  }

.diytitle{
  display: flex;
  justify-content: flex-start;
  font-family: 'Noto Serif Display', serif;
  width: 10vw;
  font-size: 2vw;
  line-height:3vw;
  font-weight: 300;
  }

.color3{
  color: #FFD97D;
  font-size: 2.5vw;
  font-family: Helvetica inherit;
  font-weight: bold;
  }

.sec44{
  background-color: white;
  width: 100%;
  gap:0vw 4vw;
  }

.lists3{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap:0vw 0vw;
  line-height: 0vw;
  }

.artimgs{
  width: 33.33vw;
  }

.sec55{
  background-color: white;
  width: 100%;
  gap:0vw 4vw;
  }

.color4{
  color: #BEE1E6;
  font-size: 2.5vw;
  font-family: Helvetica inherit;
  font-weight: bold;
  }

.pic6{
  display: flex;
  flex-direction: column;
  background-image: url(pic6.png);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.slogan6{
  align-self: flex-end;
  color: white;
  font-family: 'Noto Serif Display', serif;
  font-size: 2vw;
  font-weight: 400;
  line-height: 0.5vw;
  padding-right: 3vw;
  }

.slogan6special{
  align-self: flex-end;
  color: #FEF1F2;
  font-family: 'Noto Serif Display', serif;
  font-size: 4vw;
  font-weight: 400;
  line-height: 0px;
  padding-right: 3vw;
  }

.pg1{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap:0vw 0vw;
  line-height: 0vw;
  }

.pg1imgs{
  width: 50vmax;
  }

.topnav3 {
  overflow: hidden;
  background-color: #E8EEEE;
  position: fixed;
  width: 100vw;
  height: 12vh;
  z-index:999;
  }

.topnav3 a {
  display: flex;
  float: left;
  color: #495057;
  font-weight: 400;
  text-align: center;
  line-height: 8vh;
  padding: 2vh 1.6vw;
  text-decoration: none;
  font-size: 1.1vw;
  font-family: 'Barlow', sans-serif;
  }

.topnav3 a:hover {
  background-color: #D9E2E3;
  color: #212529;
  }

.topnav3 a.active3 {
  display: flex;
  color: #F8F9FA;
  font-family: 'Noto Serif Display', serif;
  font-size: 3vw;
  font-weight: 500;
  color: #212529;
  }

.topnav-right3 {
  display: flex;
  float: right;
  font-size: 1.1vw;
  }

.container3 {
  position: relative;
  }

.overlay3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  opacity:0%;
  width: 0;
  height: 100%;
  transition: .5s ease;
  }

.container3:hover .overlay3 {
  width: 100%;
  opacity:50%;
  }

.text3 {
  font-family: 'Noto Serif Display', serif;
  text-align: center;
  color: white;
  font-size: 5vw;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }

.container4 {
  position: relative;
  }

.overlay4 {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: white;
  overflow: hidden;
  opacity:0%;
  width: 0;
  height: 100%;
  transition: .5s ease;
  }

.container4:hover .overlay4 {
  width: 100%;
  left: 0;
  opacity:50%;
  }

.text4 {
  font-family: 'Noto Serif Display', serif;
  text-align: center;
  color: black;
  font-size: 5vw;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }

.bgcolor{
  height: 100%;
  background-color: #E8EEEE;
}
